.contact {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    transition: 250ms;
    overflow: hidden;
    position: relative;
}

.contact img.icon {
    object-fit: cover;
    width: 35px;
    height: 35px;
    margin-left: 7px;
    margin-right: 7px;

    border: 2px solid;
    border-radius: 50px;
}

.row {
    display: flex;
    width: 400px;
}

@media screen and (max-width: 575px) {
    .row {
        width: 300px;
    }
}
