{% extends 'main/base.html' %}
{% load static %}

{% block links %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'main/css/contacts.css' %}" type="text/css">
{% endblock %}

{% block content %}
<h1 class="centered-text">{{ settings.name }}</h1>
{% for line in settings.description_array %}
<p class="centered-text">{{ line }}</p>
{% endfor %}

{% for block in blocks %}
<hr/>
<div class="block">
    <p class="centered-text">{{ block.description }}</p>
    {% for row in block.rows.all %}
    <div class="row">
        {% for contact in row.contacts.all %}
        <a class="contact" href="{{ contact.url }}" style="background-color: {{ contact.background_color }}; width: {{ contact.width }}%">
            <img class="icon" src="{{ contact.icon.url }}" alt="icon" style="border-color: {{ contact.foreground_color }}"/>
            <h3 class="centered-text" style="color: {{ contact.foreground_color }}">{{ contact.title }}</h3>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}