{% extends 'main/base.html' %}
{% load static %}

{% block links %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'main/css/page.css' %}" type="text/css">
{% endblock %}

{% block content %}

{% if not page.is_homepage %}
<a href="/" class="home-button"></a>
{% endif %}

<h1 class="text centered-text">{{ page.name }}</h1>
{% for line in page.description_array %}
<p class="text centered-text">{{ line }}</p>
{% endfor %}

{% for block in page.blocks.all %}
<hr/>
<div class="block">
    <p class="text centered-text">{{ block.description }}</p>
    {% for row in block.rows.all %}
    <div class="row">
        {% for item in row.items %}

        {% if item.type == 'Link' %}
        <a class="item item-link" href="{{ item.url }}" style="background-color: {{ item.background_color }}; width: {{ item.width }}%">
            <img class="icon" src="{{ item.icon.url }}" alt="icon" style="border-color: {{ contact.foreground_color }}"/>
            <h3 class="text centered-text" style="color: {{ item.foreground_color }}">{{ item.title }}</h3>
        </a>

        {% elif item.type == 'Text' %}
        <div class="item item-text container-inner" style="width: {{ item.width }}%">
            <img class="icon" src="{{ item.icon.url }}" alt="icon"/>
            <div>
                <h3 class="text">{{ item.title }}</h3>
                {% for line in item.description_array %}
                <p class="text">{{ line }}</p>
                {% endfor %}
            </div>
        </div>
        
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
